<h2 class="text-center"><%= t(".title") %></h2>
<div class="container">
  <div class="row" style="background-image: url(/profile_bg.gif); background-size: cover;">
    <div class="col-3" style="margin-top: 2%;">
      <p><%= image_tag get_avatar, :style => "border-radius: 50%;" %></p>
    </div>
    <div class="col-5">
      <h3 class="text-left" style="color:white; margin-top: 20%;">
        <strong>
          <%= @profile.first_name %>
          <%= @profile.second_name %>
        </strong>
      </h3>
      <%= link_to t(".edit"), edit_profile_path, {class: "btn btn-success"} %>
      <%= link_to t(".edit_password"), edit_user_registration_path, { class: "btn btn-primary"} %>
    </div>
  </div>
</div>
<hr>
